name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    services:
      redis:
        image: couchdb:2.3.0
        ports:
        - 5984:5984
    steps:
    - uses: actions/checkout@v1
    - name: Install Deno
      run: |
        curl -fsSL https://deno.land/x/install/install.sh | bash -s -- v0.23.0
    - name: Run Tests
      run: |
        export PATH=$HOME/.deno/bin:$PATH
        sleep 5
        deno -A couch_test.ts
