name: Bump

on:
  push:
    branches:
       - ci-test
  schedule:
    - cron: 0 13 * * *    
jobs:
  build:
    runs-on: ubuntu-latest
    services:
      redis:
        image: couchdb:2.3.0
        ports:
        - 5984:5984
    steps:
    - uses: actions/checkout@v1
    - uses: keroxp/dink-bot@v1
      with:
        github-repository: ${{ github.repository }}
        github-token: ${{ secrets.GITHUB_TOKEN }}
